body {
  background-color: #eeeeee1a;
}

.iconbrand {
  font-size: 26px;
  font-weight: bold;
}

.widthmain {
  width: 100%;
}
.magboclass {
  margin-top: 100px;
}
.tablecolorself {
  background-color: #fd7e14;
}
